﻿body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin:0;
	padding:0;
	/*background-color:#336600;*/
	font-family: 'Open Sans', arial, sans-serif;
	font-weight:400;
	margin-top:80px;
}
.tooltip-inner {
      background-color: #73a839;
      text-align:left;
      white-space:nowrap;
      max-width:none;
      /*color: #FFFFFF;*/ 
      color: black; 
      border: 1px solid black; 
      padding: 15px;
      font-size: 20px;
  }
.MousePointer {
    cursor: pointer;
    /*pointer-events:none;*/
}
.myPlusSign {
    background:url(/Images/PlusGoogle.png) no-repeat;
    cursor:pointer;
    background-size:contain;
    width:25px;
    height:25px;
    max-height:100%;
    max-width:100%;
}
.MyIcons {
    height:1.25em;
    vertical-align: bottom;
    /*width: 22px;*/
}
.MyAboveBelow input {
    
    display:table-cell;
    
}
.MyTop {
    margin-left:5px;
    vertical-align:top;
}
.MyBottom {
    margin-left:5px;
    vertical-align:bottom;
}
.Vertical-Text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    font-weight:bold;
    width:15px;
    margin-left:15px;
    /*float: left;*/
}
.MyInfo {
    display:inline-grid;
    padding: 5px 0px 5px 0px !important;
    margin: 0 0 0 0 !important;
    background-color: #3498db !important;
    font-weight:bold;
    color:white;
}
.MyInfoNC { /* no color */
    display:inline-grid;
    padding: 5px 0px 5px 0px !important;
    margin: 0 0 0 0 !important;
    font-weight:bold;
}
.v-align {
    vertical-align: middle;
}
.v-align-tc {
    display: table-cell;
    vertical-align: middle;
}
.modStyle {
    width:900px;
}
.gvStyle {
    /*text-align:center;
    margin:2em 4em;
    border:6px outset #9a9;
    background:#efe;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);*/
    border-style:none;
}
/*.form-group > input {
    width:60%;
}*/
td {
    /*line-height:inherit;*/
    vertical-align:middle !important;
    font-size:125%;
}
/*.myTrs {
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}*/
td[target=tdComm] {
    width:25%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdName] {
    width:12%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdNumb] {
    width:5%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdText] {
    width:6%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdWName] {
    width:14%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdWNumb] {
    width:6%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdwtext] {
    width:9%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdApp] {
    width:20%;
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
td[target=tdWork] {
    /*width:20%;*/
    vertical-align:middle !important;
    font-weight:600;
    font-size:medium;
}
.tdWorkHours {
    width:30%;
}
.thWorkHours {
    width:20%;
}
.fUpload {
    width:400px;
}
.gvPadding {
    margin:4px;
}
.gvImageStyle {
    width:75px;
    height:75px;
    border:3px ridge #9a9;
    padding: 0px;
}
.gvImageNameStyle {
    /*margin-left:4px;*/
    text-align: center;
}
.form-horizontal .control-label{
   text-align:left !important; 
}
#CopyButton {
    background:none;
    display: block;
    margin: auto;
}
.jumbotron {
    /*background-color: #ffcc99;*/
    margin-top:0px !important;
}
p {
   font-size: 14px !important;
   font-weight: 400 !important;
}
section {
	padding-top:10px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

