﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="DailyWT.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Daily Work Totals</title>

    <!-- Bootstrap core CSS -->
<%--    <link href="CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />--%>
    <link href="CSS/flatly/bootstrap.min.css" rel="stylesheet" title="main" />

    <!-- Bootstrap core CSS -->
    <link href="CSS/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap validator CSS for this project -->
    <link href="CSS/bootstrapValidator.css" rel="stylesheet"  type="text/css" />

    <!-- Bootstrap daterangepicker for this project -->
    <link href="CSS/daterangepicker.css" rel="stylesheet"  type="text/css" />

    <!-- Bootstrap checkbox toggle for this project -->
    <link href="CSS/bootstrap-toggle.min.css" rel="stylesheet"  type="text/css" />

    <!-- Custom styles for this project -->
    <link href="CSS/DailyWT.css" rel="stylesheet"  type="text/css" />

    <!-- Login Form -->
    <link rel="stylesheet" type="text/css" href="login_style.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="login_effect.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-image:url(../ImgHandler.ashx);" id="home">
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/jquery-2.2.1.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/URI.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/bootstrap.min.js") %>'></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/ie10-viewport-bug-workaround.js") %>'></script>
<%--    <script src="/Scripts/ie-emulation-modes-warning.js"></script>--%>

    <!-- Bootstrap validator -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/bootstrapValidator.js") %>'></script>

    <!-- Bootstrap popup dialogs -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/bootstrap-dialog.min.js") %>'></script>

    <!-- for Bootstrap date picker -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/moment.min.js") %>'></script>

    <!-- for Bootstrap daterangepicker -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/daterangepicker.js") %>'></script>

    <!-- for Bootstrap checkbox toggle -->
    <script src='<%= Page.ResolveClientUrl("~/Scripts/bootstrap-toggle.min.js") %>'></script>

<script>
    var supports_storage = supports_html5_storage();

/* When a theme-change item is selected, update theme */
    $('body').on('click', '.change-style-menu-item', function () {
        var theme_name = $(this).attr('rel');
        var theme = "../CSS/" + theme_name + "/bootstrap.min.css";
        set_theme(theme);
    });

    /* On load, set theme from local storage */
    if (supports_storage) {
        var theme = localStorage.theme;
        if (theme) {
            set_theme(theme);
        }
    } else {
        /* Don't annoy user with options that don't persist */
        $('#theme-dropdown').hide();
    };

    function set_theme(theme) {
        $('link[title="main"]').attr('href', theme);
        if (supports_storage) {
            localStorage.theme = theme;
        }
    };
    function supports_html5_storage() {
        try {
            return 'localStorage' in window && window['localStorage'] !== null;
        } catch (e) {
            return false;
        }
    };
</script>
<script type="text/javascript">
    function NewPage(newpage) {
        var np = '';
        var loc = window.location.href;
        var uri = new URI(loc);
        // are we running locally?
        if (loc.indexOf('localhost') > 0) {
            // running locally in VS, it works this way
            np = uri.origin() + newpage;
        }
        else {
            // running on IIS, it works this way
            //     np = uri.origin() + '/' + uri.segment(0) + newpage;
            np = '/' + uri.segment(0) + newpage;
        }
        return window.location.replace(np);
    };
    function ClearAndReload() {
        window.location = window.location.href + '?eraseCache=true';
    };
</script>
    <div class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav pull-left h3">
              <li><a href="#" onclick="NewPage('/User/Login.aspx')">Daily Work Totals</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
                <%--<li><a href="#" onclick="NewPage('/User/DataEntry.aspx')">Data</a></li>--%>
                <li><a href="#" onclick="NewPage('/User/Test.aspx')">Test</a></li>
                <li><a href="#" onclick="NewPage('/User/Printing.aspx')">Printing</a></li>
                <li><a href="#" onclick="NewPage('/User/FormInv.aspx')">Form Inv</a></li>
                <li><a href="#" onclick="NewPage('/User/Reports.aspx')">Reports</a></li>
<%--                <li><a href="#" onclick="NewPage('/User/TestPage.aspx')">Test Page</a></li>--%>
                <li><a href="#" onclick="NewPage('/User/Images.aspx')">Images</a></li>
                <li class="dropdown" id="admin-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs icon-large"></i> Admin<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="NewPage('/Admin/DataEntryConfig.aspx')">Data Entry Config</a></li>
                    <li><a href="#" onclick="NewPage('/Admin/FormConfig.aspx')">Form Config</a></li>
                    <li><a href="#" onclick="NewPage('/Admin/FormSpecs.aspx')">Form Specs</a></li>
                    <li><a href="#" onclick="NewPage('/User/JobConfig.aspx')">Job Config</a></li>
                    <li><a href="#" onclick="NewPage('/Admin/TimedWorkConfig.aspx')">Timed Work Config</a></li>
                    <li><a href="#" onclick="NewPage('/Admin/UserAdmin.aspx')">User Administration</a></li>
                  </ul>
                </li>
                <li class="dropdown" id="theme-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs icon-large"></i> Theme<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="change-style-menu-item" rel="cerulean"><i class="icon-fixed-width icon-pencil"></i> Cerulean</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="cosmo"><i class="icon-fixed-width icon-pencil"></i> Cosmo</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="cyborg"><i class="icon-fixed-width icon-pencil"></i> Cyborg</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="darkly"><i class="icon-fixed-width icon-pencil"></i> Darkly</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="flatly"><i class="icon-fixed-width icon-pencil"></i> Flatly (Default)</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="journal"><i class="icon-fixed-width icon-pencil"></i> Journal</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="lumen"><i class="icon-fixed-width icon-pencil"></i> Lumen</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="paper"><i class="icon-fixed-width icon-pencil"></i> Paper</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="readable"><i class="icon-fixed-width icon-pencil"></i> Readable</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="sandstone"><i class="icon-fixed-width icon-pencil"></i> Sandstone</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="simplex"><i class="icon-fixed-width icon-pencil"></i> Simplex</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="slate"><i class="icon-fixed-width icon-pencil"></i> Slate</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="spacelab"><i class="icon-fixed-width icon-pencil"></i> Spacelab</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="superhero"><i class="icon-fixed-width icon-pencil"></i> Superhero</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="united"><i class="icon-fixed-width icon-pencil"></i> United</a></li>
                    <li><a href="#" class="change-style-menu-item" rel="yeti"><i class="icon-fixed-width icon-pencil"></i> Yeti</a></li>
                  </ul>
                </li>
                <li><a>&nbsp;&nbsp;User:&nbsp;&nbsp;<label id="lblMyName" runat="server"></label></a></li>
          </ul>

        </div>
      </div>
    </div>


    <form id="mpForm" runat="server" class="form-horizontal" role="form" method="post">


    <div class="container-fluid">

        <!--Row with one column -->
        <div class="row">
            <!-- Left column -->
            <div class="col-xs-1" id="leftcolumn">
            </div>

            <div class="col-xs-11" id="centercolumn">

                <asp:ContentPlaceHolder ID="cphMain" runat="server"></asp:ContentPlaceHolder>
            </div>
            
        </div>
    </div>


    </form>

</body>
</html>
